nav {
  display: flex;
  background-color: #2323f3;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  float: left;
  font-size: 2rem;
  padding: 20px;
}

.nav-menu {
  list-style-type: none;
}

.items {
  float: left;
  padding: 20px;
}
